body {
    width: 80%;
    margin: auto;
    background-color: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#webchat,
#webchat > * {
    height: 100%;
    width: 100%;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    height: 70vh;
}

.wrapper-container {
    justify-content: center;
}

.about-container {
    padding: 10px 25px;
    width: 60%;
}

.webchat-container{
    width: 40%;
}

.main-title{
    font-size: 48px;
    margin-bottom: 0;
}

.sub-title {
    margin-top: 5px;
    font-weight: 300;
}

.error-well {
    background-color: #e6e6e6;
    width: 70%;
    padding: 5px 15px;
    border-radius: 5px;
}

.error-text {
    color: #da5a5a;
    font-weight: 600;
}


#webchat {
    border-radius: 5px;
    box-shadow: 1px 5px 8px 1px #cecece;
    background-color: white;
}
